USE [master]
GO
/****** Object:  Database [SoTietKiem]    Script Date: 11/27/2019 5:05:05 PM ******/
CREATE DATABASE [SoTietKiem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LEBAY', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\LEBAY.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LEBAY_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\LEBAY_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SoTietKiem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SoTietKiem]
GO
USE [SoTietKiem]
GO
/****** Object:  Table [dbo].[LoaiTietKiem]    Script Date: 11/27/2019 5:05:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiTietKiem](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiTietKiem] [nvarchar](120) NULL,
	[MoTa] [nvarchar](200) NULL,
	[HoatDong] [bit] NULL,
 CONSTRAINT [PK_LoaiTietKiem] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhieuGui]    Script Date: 11/27/2019 5:05:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuGui](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KhachHangID] [int] NULL,
	[SoTienGui] [int] NULL,
	[NgayGui] [date] NULL,
	[MoTa] [nvarchar](200) NULL,
	[HoatDong] [bit] NULL,
 CONSTRAINT [PK_PhieuGui] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhieuRut]    Script Date: 11/27/2019 5:05:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuRut](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KhachHangID] [int] NULL,
	[SoTienRut] [int] NULL,
	[NgayRut] [date] NULL,
	[MoTa] [nvarchar](200) NULL,
	[HoatDong] [bit] NULL,
 CONSTRAINT [PK_PhieuRut] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TaiKhoanKhachHang]    Script Date: 11/27/2019 5:05:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TaiKhoanKhachHang](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LoaiTietKiemID] [int] NULL,
	[TenKhachHang] [nvarchar](50) NULL,
	[SoCMND] [varchar](15) NULL,
	[SoDienThoai] [varchar](10) NULL,
	[DiaChi] [nvarchar](10) NULL,
	[Email] [varchar](50) NULL,
	[NgayMoSo] [date] NULL,
	[SoTienGuiBanDau] [int] NULL,
	[MoTa] [nvarchar](200) NULL,
	[HoatDong] [bit] NULL,
 CONSTRAINT [PK_ToaiKhoanKhachHang] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
